.Blog{
    border: 1px solid black;
    background: black;
    margin: auto;
    color: white;
    height: 100em;
    margin-top: -1px;
}
.img{
    filter: drop-shadow(0 0 0.4rem red);
}
.CardD{
    border: 1px solid white;
    position: absolute;
    right: 0;
    width: 16em;
}
.contéudoD{
    border: 1px solid bisque;
    width: 80em;
}