.Footer{
    border: 1px solid #433a72;
    background: #433a72;
    text-align: center;
    color: white;
    height: 15em;
    bottom: 1;
    width: 100%;
}
.ListFooter{
    width: 94em;
    margin: auto;
}
.ListFooter > div{
    border: 1px solid white;
    width: 20em;
    display: table-cell;
    font-size: 20px;
}