
.Titulo{
    border: 1px solid #433a72;
    background: #433a72;
    color: white;
    text-align: center;
    top: 0;
    height: 2.5em;
}
.Titulo > h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-top: -44px;
}
.sub_títulos{
    display: none;
    position: fixed;
    border: 1px solid black;
    background: black;
    color: white;
    width: 10em;
    height: 100%;
    top: 0;
}
.ico{
    border-radius: 50%;
    margin-left: -155px;
}
.sub_títulos > li{
    color: white;
    padding: 0.4em;
}
.submi{display: none;}
.Menu,.Menu1{
    display: table-cell;
    font-size: 40px;
    margin-top: -0px;
}
.Menu1{
    margin-top: -37px;
}
.HPerfil{
    position: absolute;
    bottom: 0;
    border: 1px solid white;
    width: 10em;
}