.Blog{
    border: 5px solid turquoise;
    background: turquoise;
    text-align: center;
    height: 30em;
}
.texto{
    border: 1px solid red;
    width: 50em;
    height: 5em;
    resize: none;
}
.CorpoBlog{
    display: block;
    border: 1px solid white;
    background: white;
    text-align: center;
    margin: auto;
    width: 60em;
    height: 20em;
}
.btn{
    border: 0px solid black;
    border-radius: 20px;
    width: 10em;
    height: 2em;
    color: white;
    cursor: pointer;
    background: blue;
}
.Corpo{
    border: 1px solid red;
    width: 60em;
    margin: auto;
}
.btn:hover{
    background: white;
    color: blue;
}